body{
      font-family: Montserrat;
      color: white;
      background-image: url('../bilder/index_background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


/* INTRO CONTAINER */
.introcontainer{
  width:  50em;
  margin-top:   6.25em;
  background-color: #2b3035
;  margin-left:auto;
  margin-right: auto;
}
.delunderline{
  text-decoration:none;
  display:flex;
  justify-content: center;
}

.textalign{
  text-align:   center;
}
.whitetext{
  color: white;
}
.introimagesize{
  width:  10em;
}
.introdiscordimage{
 flex-grow: 1;
}
.introfacebookimage{
   flex-grow: 1;
}
.introquestimage{
  width:  9.375em;
  flex-grow: 1;
} 
.socials{
  display:flex;
  justify-content: center;
  align-content: center;
}
/* TEXT SECTION */
.textcolumncontainer{
  width: 1600px;
  text-align: left;
  background-color: #2b3035;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-top:   6.25em;
  margin-bottom: 6.25em;
  margin-left: auto;
  margin-right: auto;
}

/* FOOTER */
.sidfot{
  background-color: #2b3035;
}
.pmargin{
  margin-top: -15px;
}
.footerhyperlinkcolour{
  color: white;
}

/* All Devices */
/* SMALL SCREEN */
@media screen and (max-width: 768px) { 
  .introcontainer{
    width: 20.625em;
    height:21.875em;
  }
  .introdiscordimage{
    margin-left: 0em;
  }
  .introfacebookimage{
  margin-right:   0em;
}
.introquestimage{
  width: 5.625em;
  height: 5.625em;
}
.introimagesize{
  width: 6.25em;
  height: 6.25em;
  flex-grow:1;
}
.textcolumncontainer{
  width: 20.625em;
}
}
/* BIG SCREEN */
@media screen and (min-width: 1081px) { 
.introcontainer{
  width: 50%;
}
.introimagesize{
  width:  0%;

}
.introquestimage{
width: 0%;

} 

.textcolumncontainer{
  width: 50%;
}
}
}
/* All Devices END*/
