body{
      font-family: Montserrat;
      background-image: url('bilder/index_background.jpg');
}
.headerfont{
  size: 100000em;
}
.navbar-nav > li{ 
  padding-left:4em;
  padding-right:4em;
}
.section1padding{
  padding-top: 3em;
}

.introcontainer{
  width:  500px;
  margin-top:   100px;
  background-color: #2b3035;
}
.introtext{
  text-align:   center;
  color:  white;
}
.introimagesize{
  width:  100px;
  height:   100px;
}
.introdiscordimage{
  margin-left:  100px;

}
.introfacebookimage{
  margin-right:   40px;
}

/* Galaxy S10 */
@media screen and (max-width: 360px) { 
  .introcontainer{
    width: 330px;
    height: 500px;
  }
  .introdiscordimage{
    margin-left: 0px;
  }
  .introfacebookimage{
  margin-right:   0px;
}
.introquestimage{
  width: 90px;
  height: 90px;
}
}
