body{
      font-family: Montserrat;
      background-image: url('bilder/index_background.jpg');
      color: white;
}
/* NAVBAR */
.headerfont{
  size: 100000em;
}
.navbar-nav > li{ 
  padding-left:4em;
  padding-right:4em;
}
/* NAVBAR END */

/* INTRO CONTAINER */
.introcontainer{
  width:  800px;
  margin-top:   100px;
  background-color: #2b3035;
}
.delunderline{
  text-decoration:none;
}
.textalign{
  text-align:   center;
}
.whitetext{
  color: white;
}
.introimagesize{
  width:  160px;
  height:   160px;
}
.introdiscordimage{
 margin-left: 150px;

}
.introfacebookimage{
  margin-right:   40px;
}
.introquestimage{
  margin: right;
  width:  150px;
  height:   150px;
}

/* INTRO CONTAINER END */

/*INTRO CONTAINER SIZE-ADJUSTER */

/* Galaxy S10 */
@media screen and (max-width: 500px) { 
  .introcontainer{
    width: 330px;
    height: 350px,;
  }
  .introdiscordimage{
    margin-left: 0px;
  }
  .introfacebookimage{
  margin-right:   0px;
}
.introquestimage{
  width: 90px;
  height: 90px;
}
.introimagesize{
  width: 100px;
  height: 100px;
}
}
/*INTRO CONTAINER SIZE-ADJUSTER END*/

/*TEXT CONTAINER*/
.textcontainer{
width:  45em;
margin-top:   100px;
margin-left: 10em;
background-color: #2b3035;
float: left;
}

/*TEXT CONATINER END */

/*YouTube CONTAINER*/
.textcontainer{
width:  45em;
margin-top:   100px;
background-color: #2b3035;
}

/*YouTube CONATINER END */