body{
      font-family: Montserrat;
      color: white;
      background-image: url('../bilder/index_background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* INTRO CONTAINER */
.introcontainer{
  width:  50em;
  margin-top:   6.25em;
  background-color: #2b3035
;  margin-left:auto;
  margin-right: auto;
}
.mapscontainer{
  width:  50em;
  margin-top:   6.25em;
  background-color: #2b3035; 
  margin-left:auto;
  margin-right: auto;
}
.delunderline{
  text-decoration:none;
  display:flex;
  justify-content: center;
}

.textalign{
  text-align:   center;
}
.whitetext{
  color: white;
}
.introimagesize{
  width:  10em;
}
.introdiscordimage{
 flex-grow: 1;
}
.introfacebookimage{
   flex-grow: 1;
}
.introquestimage{
  width:  9.375em;
  flex-grow: 1;
} 
.socials{
  display:flex;
  justify-content: center;
  align-content: center;
}

/* TEXT COLUMN */


.textcolumncontainer{
  width: 50em;
  height:  18em;
  text-align: left;
  margin-top:   6.25em;
  background-color: #2b3035;
  margin-bottom: 6.25em;
}

.pfindus{
  margin: -5px;
}

.googlemaps{
height:  100%;
width: 100%;
}

/* FOOTER */
.sidfot{
  background-color: #2b3035;
}
.pmargin{
  margin-top: -15px;
}
.footerhyperlinkcolour{
  color: white;
}

/*All Galaxy Devices*/
@media screen and (max-width: 412px)
{
  .introcontainer{
    width: 70%;
    border-radius: 15px;
  }
  .introquestimage{
  width: 4em;
  height: 4em;
}
.introimagesize{
  width: 5em;
  height: 5em;
}
.justify-content-around{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.marginbot{
  margin-bottom:   6.25em;
}
}

/*iPad*/
@media screen and (max-width: 810px)
{
  .introcontainer{
  width: 70%;
  border-radius: 15px;
}
  .introquestimage{
  width: 4em;
  height: 4em;
}
.introimagesize{
  width: 5em;
  height: 5em;
}
.textcolumncontainer{
  width: 90%;
  margin-top: 3em;
  margin-bottom:  0px;
}
.marginbot{
  margin-bottom:   6.25em;
}
}

/*Laptop*/
@media screen and (1000px <= width < 1600px)
{
  .introcontainer{
    border-radius: 15px;
  }

.textcolumncontainer{
  margin-bottom: 0px;
}
.marginbot{
  margin-bottom:   6.25em;
}
}